@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" style='height: 33vh'>
    <div class="col text-light bg-palette-1 d-flex align-items-center justify-content-center text-center">
        Cool Exercises
    </div>
    <div class="col text-light bg-palette-2 d-flex align-items-center justify-content-center text-center">
        Basics
    </div>
</div>
<div class="row" style='height: 33vh'>
    <div class="col text-light bg-palette-3 d-flex align-items-center justify-content-center text-center">
        Prompts
    </div>
    <div class="col text-light bg-palette-4  d-flex align-items-center justify-content-center text-center">
        Resources
    </div>
</div>
<div class="row" style='height: 34vh'>
    <div class="col text-light bg-palette-5 d-flex align-items-center justify-content-center text-center">
        ???
    </div>
    <div class="col text-light bg-palette-1 d-flex align-items-center justify-content-center text-center">
        Artist's Health
    </div>
</div>